@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eargasm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Eargasm.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <div class="centerContent">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <div class="container border-top  text-muted">
        <p>random</p>
    </div>
    <footer class="container border-top footer text-muted">
        <a class="nav-link text-dark" asp-area="" asp-controller="Playlist" asp-action="Index">My Playlists</a>
        <p>&copy; 2022 - Eargasm - Ribbed playlists for your ears pleasure </p>
        @if (SignInManager.IsSignedIn(User))
        {
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        }
        else
        {

        }
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
